{% extends 'base.html'%}
{% block title %}Categorias{% endblock %}
{% block cards %}   
    <a class="btn btn-primary" href="{% url 'cadastro-cliente' %}" style="width:200px;">Adicionar Cliente</a>     
{% endblock %}

{%  block titulo_page %}Categorias{% endblock %}
{% block conteudo %}
<table class="table table-bordered table-hover mx-auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th> 
            <th scope="col">Nome</th> 
            <th scope="col">Telefone</th>          
            <th scope="col">Açoes</th>
        </tr>
    </thead>
    <tbody>
        {% for lista in lista %}
        <tr>
            <td>{{ lista.id }}</td>
            <td>{{ lista.nome }}</td>
            <td>{{ lista.telefone }}</td>
            <td style="width: 280px;">
                <!-- <button data-id="{{ lista.id }}" onclick="detalhes(this)" class="btn btn-info">Detalhes</button>
                <button data-id="{{ lista.id }}"  onclick="alterar(this)" class="btn btn-warning">Alterar</button>
                <button data-id="{{ lista.id }}"  onclick="deletar(this)" class="btn btn-danger">Excluir</button> -->

                <a href="{% url 'detalhes_cliente' lista.id %}" class="btn btn-info">Detalhes</a>
                <a href="{% url 'editar_cliente' lista.id %}" class="btn btn-warning">Alterar</a>
                <!-- <a href="{% url 'excluir_categoria' lista.id %}" class="btn btn-danger">Excluir</a> -->
                <!-- <button data-id="{{ lista.id }}"  onclick="location='{% url 'editar_categoria' lista.id %}'" class="btn btn-danger">Excluir</button> -->
            </td>
        </tr>
        {% empty %}
        <td colspan="4" align="center">
            <p>Sem itens</p>
        </td>
        {% endfor %}
        
    </tbody>
</table>
<script>

    function detalhes(button){
        const id = button.getAttribute('data-id');
        
        fetch(`{% url 'detalhes_categoria' 0 %}` .replace('0', id), {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`Erro na requisição: ${response.status}`)
            }
        })

    }
</script>


{% endblock %}