 {% extends 'base_register.html' %}
 {% block content %}


<!-- Seção Principal -->
<section class="hero-section bg-primary text-white">
    <div class="container">
        <h1 class="display-4">CAD Web: Simplificando a Gestão Empresarial para o Seu Sucesso</h1>
        <p class="lead">Um sistema de gestão empresarial online que integra e otimiza processos internos, proporcionando controle total sobre as operações e aumentando a eficiência.</p>
        <a href="#" class="btn btn-primary btn-lg">Saiba Mais</a>
    </div>
</section>

<!-- Seção de Funcionalidades -->
<section class="features-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="feature-icon mb-3">
                    <i class="bi bi-bar-chart-line"></i>
                </div>
                <h3>Gestão Financeira</h3>
                <p>Controle de contas a pagar e receber, fluxo de caixa e conciliação bancária.</p>
            </div>
            <div class="col-md-4">
                <div class="feature-icon mb-3">
                    <i class="bi bi-box-seam"></i>
                </div>
                <h3>Gestão de Estoque</h3>
                <p>Monitoramento de entradas e saídas de produtos, níveis de estoque e inventário.</p>
            </div>
            <div class="col-md-4">
                <div class="feature-icon mb-3">
                    <i class="bi bi-cart-check"></i>
                </div>
                <h3>Gestão de Vendas</h3>
                <p>Emissão de pedidos, notas fiscais e acompanhamento de vendas.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}